
/* account-settings.css */
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set the background color for the entire body */
  body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Center the layout */
  .settings-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the header */
  header {
    text-align: center;
  }
  
  .site-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  header h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Style the main content area */
  main {
    padding: 20px;
  }
  
  /* Style the change password section */
  .change-password h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #changePasswordForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  #changePasswordForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the configure 2FA section */
  .configure-2fa h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #configure2faForm button,
  #verify2faForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }
  
  #configure2faForm button:hover,
  #verify2faForm button:hover {
    background-color: #0056b3;
  }
  
  /* Style the verify 2FA section */
  .verify-2fa h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #verify2faForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the footer */
  footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    color: #aaa;
    font-size: 14px;
  }
  