
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set the background image */
body {
    background-image: url("/views/images/bg-login.jpg");
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

/* Center the layout */
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px;
}

/* Style the header */
header {
    text-align: center;
    margin-bottom: 20px;
}

.site-name {
    color: #fff;
    font-size: 30px;
}

/* Style the main content area */
main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px;
}

/* Style the signup and login forms */
.signup, .login {
    margin-bottom: 20px;
}


.signup h2, .login h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Style form elements */
form label {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Style the submit button */
form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the navigation bar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

